.noTitleStuff .ui-dialog-titlebar {display:none}

.setclock {
  font-family: arial, verdana, sans-serif;
  display: block;
  overflow: hidden;
  font-size: 16px;
  width: 168px;
  height: 66px;
}

.trimpair {
background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #bdbdbd),color-stop(1, #f7f7f7));
    background: -moz-linear-gradient(#f7f7f7,#bdbdbd);
    background: -ms-linear-gradient(#f7f7f7,#bdbdbd);
    background: -o-linear-gradient(#f7f7f7,#bdbdbd);
}
.trpair {
}

.reveil {
  padding: 0 15px 0 10px;
  width: 140px;  
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background: #000;
  color: #fff;
  border: 1px solid black;
  font-size: 40px;
}
.reveil div {
  float: left;
  font-size: 20px;
}
.reveil .icoreveil {
  width: 50px;
  height: 50px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
}
/*.div[contenteditable=true] {
  color: #ff0000;
  box-shadow: inset 0px 1px 4px #666;
}*/
.reveil .label {
  position: absolute;
  left: 60px;
  bottom: 5px;
  font-size: 13px;
}
.reveil .status.enable {
  background-color: green;
}
.reveil .status.disable {
  background-color: white;
}
.reveil .status {
  position: absolute;
  height: 6px;
  width: 30px;
  bottom: 10px;
  left: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
}
