<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="style.css" />
  
  <title></title>
  <style>
  td {
    width : 200px;
  }
  </style>
  
  </head>
  <body style="background-color: #DDDDDD;">
  <table>
  <tr>
  <td>

<img src="./images/32x32_0.png" alt="32x32_0.png" >32x32_0.png<br />
<img src="./images/32x32_1.png" alt="32x32_1.png" >32x32_1.png<br />
<img src="./images/32x32_2.png" alt="32x32_2.png" >32x32_2.png<br />
<img src="./images/32x32_3.png" alt="32x32_3.png" >32x32_3.png<br />
<img src="./images/32x32_4.png" alt="32x32_4.png" >32x32_4.png<br />
<img src="./images/32x32_5.png" alt="32x32_5.png" >32x32_5.png<br />
<img src="./images/32x32_6.png" alt="32x32_6.png" >32x32_6.png<br />
<img src="./images/32x32_7.png" alt="32x32_7.png" >32x32_7.png<br />
<img src="./images/32x32_8.png" alt="32x32_8.png" >32x32_8.png<br />
<img src="./images/32x32_9.png" alt="32x32_9.png" >32x32_9.png<br />
<br />
<img src="./images/32x32_HP.png" alt="32x32_HP.png" >32x32_HP.png<br />
<img src="./images/32x32_HP2.png" alt="32x32_HP2.png" >32x32_HP2.png<br />          
<img src="./images/32x32_HC.png" alt="32x32_HC.png" >32x32_HC.png<br />
<img src="./images/32x32_HC2.png" alt="32x32_HC2.png" >32x32_HC2.png<br />

</td>

<td>
<img src="./images/20x20_ampouleOff.png" alt="20x20_ampouleOff.png" >20x20_ampouleOff.png<br />
<img src="./images/20x20_ampouleOn.png" alt="20x20_ampouleOn.png" >20x20_ampouleOn.png<br />
<img src="./images/20x20_moins.png" alt="20x20_moins.png" >20x20_moins.png<br />
<img src="./images/20x20_plus.png" alt="20x20_plus.png" >20x20_plus.png<br />
<img src="./images/16x32_choice.png" alt="16x32_choice.png" >16x32_choice.png<br />
<img src="./images/32x32_ampouleOff.png" alt="32x32_ampouleOff.png" >32x32_ampouleOff.png<br />
<img src="./images/32x32_ampouleOn.png" alt="32x32_ampouleOn.png" >32x32_ampouleOn.png<br />
<img src="./images/32x32_light.png" alt="32x32_light.png" >32x32_light.png<br />
<img src="./images/32x32_lightOff2.png" alt="32x32_lightOff2.png" >32x32_lightOff2.png<br />
<img src="./images/32x32_lightOn.png" alt="32x32_lightOn.png" >32x32_lightOn.png<br />
<img src="./images/32x32_lightOn2.png" alt="32x32_lightOn2.png" >32x32_lightOn2.png<br />
<img src="./images/power_gray.png" alt="power_gray.png" >power_gray.png<br />
<img src="./images/power_green.png" alt="power_green.png" >power_green.png<br />
<img src="./images/power_red.png" alt="power_red.png" >power_red.png<br />

<img src="./images/32x32_pump_on.png" alt="32x32_pump_on.png" >32x32_pump_on.png<br />
<img src="./images/32x32_pump_off.png" alt="32x32_pump_off.png" >32x32_pump_off.png<br />
<img src="./images/32x32_updown.png" alt="32x32_updown.png" >32x32_updown.png<br />
<img src="./images/32x32_camera.png" alt="32x32_camera.png" >32x32_camera.png<br />
</td>

<td>
<img src="./images/32x32_blinds_down.png" alt="32x32_blinds_down.png" >32x32_blinds_down.png<br />
<img src="./images/32x32_blinds_up.png" alt="32x32_blinds_up.png" >32x32_blinds_up.png<br />
<img src="./images/32x32_blinds_up2.png" alt="32x32_blinds_up2.png" >32x32_blinds_up2.png<br />
<img src="./images/32x32_blinds_up3.png" alt="32x32_blinds_up3.png" >32x32_blinds_up3.png<br />
<img src="./images/32x32_confort.png" alt="32x32_confort.png" >32x32_confort.png<br />
<img src="./images/32x32_confort2.png" alt="32x32_confort2.png" >32x32_confort2.png<br />
<img src="./images/32x32_confort3.png" alt="32x32_confort3.png" >32x32_confort3.png<br />
<img src="./images/32x32_horsGel.png" alt="32x32_horsGel.png" >32x32_horsGel.png<br />
<img src="./images/32x32_horsGel2.png" alt="32x32_horsGel2.png" >32x32_horsGel2.png<br />
<img src="./images/32x32_nuit.png" alt="32x32_nuit.png" >32x32_nuit.png<br />
<img src="./images/32x32_nuit2.png" alt="32x32_nuit2.png" >32x32_nuit2.png<br />
<img src="./images/32x32_Eco.png" alt="32x32_Eco.png" >32x32_Eco.png<br />
<img src="./images/32x32_Eco2.png" alt="32x32_Eco2.png" >32x32_Eco2.png<br />
<img src="./images/32x32_Eco3.png" alt="32x32_Eco3.png" >32x32_Eco3.png<br />


</td>

<td >

<img src="./images/32x32_flecheUp.png" alt="32x32_flecheUp.png" >32x32_flecheUp.png<br />
<img src="./images/32x32_flecheUp2.png" alt="32x32_flecheUp2.png" >32x32_flecheUp2.png<br />
<img src="./images/32x32_flecheDown2.png" alt="32x32_flecheDown2.png" >32x32_flecheDown2.png<br />
<img src="./images/32x32_flecheLeft2.png" alt="32x32_flecheLeft2.png" >32x32_flecheLeft2.png<br />
<img src="./images/32x32_flecheRight2.png" alt="32x32_flecheRight2.png" >32x32_flecheRight2.png<br />

<img src="./images/32x32_up.png" alt="32x32_up.png" >32x32_up.png<br />
<img src="./images/32x32_down.png" alt="32x32_down.png" >32x32_down.png<br />

<img src="./images/32x32_etage.png" alt="32x32_etage.png" >32x32_etage.png<br />
<img src="./images/32x32_maison.png" alt="32x32_maison.png" >32x32_maison.png<br />
<img src="./images/32x32_RDC.png" alt="32x32_RDC.png" >32x32_RDC.png<br />
<img src="./images/32x32_souSol.png" alt="32x32_souSol.png" >32x32_souSol.png<br />

<img src="./images/32x32_points.png" alt="32x32_points.png" >32x32_points.png<br />

<img src="./images/32x32_priseOff.png" alt="32x32_priseOff.png" >32x32_priseOff.png<br />
<img src="./images/32x32_priseOn.png" alt="32x32_priseOn.png" >32x32_priseOn.png<br />

</td>

<td >

<img src="./images/32x32_stop.png" alt="32x32_stop.png" >32x32_stop.png<br />
<img src="./images/32x32_stop2.png" alt="32x32_stop2.png" >32x32_stop2.png<br />

<img src="./images/32x32_rwd.png" alt="32x32_rwd.png" >32x32_rwd.png<br />
<img src="./images/32x32_fwd.png" alt="32x32_fwd.png" >32x32_fwd.png<br />

<img src="./images/32x32_init.png" alt="32x32_init.png" >32x32_init.png<br />

<img src="./images/32x32_pause.png" alt="32x32_pause.png" >32x32_pause.png<br />
<img src="./images/32x32_play.png" alt="32x32_play.png" >32x32_play.png<br />
<img src="./images/32x32_previous.png" alt="32x32_previous.png" >32x32_previous.png<br />
<img src="./images/32x32_next.png" alt="32x32_next.png" >32x32_next.png<br />
<img src="./images/32x32_plus.png" alt="32x32_plus.png" >32x32_plus.png<br />
<img src="./images/32x32_moins.png" alt="32x32_moins.png" >32x32_moins.png<br />

<img src="./images/32x32_sonOff.png" alt="32x32_sonOff.png" >32x32_sonOff.png<br />
<img src="./images/32x32_sonOn.png" alt="32x32_sonOn.png" >32x32_sonOn.png<br />
<img src="./images/32x32_sonMoins.png" alt="32x32_sonMoins.png" >32x32_sonMoins.png<br />
<img src="./images/32x32_sonPlus.png" alt="32x32_sonPlus.png" >32x32_sonPlus.png<br />

</td>

<td style="width : 300px;">

<img src="./images/50x50_DetectionFenetre.png" alt="50x50_DetectionFenetre.png" >50x50_DetectionFenetre.png<br />
<img src="./images/50x50_DetectionFenetre_off.png" alt="50x50_DetectionFenetre_off.png" >50x50_DetectionFenetre_off.png<br />
<img src="./images/50x50_DetectionFenetre2.png" alt="50x50_DetectionFenetre2.png" >50x50_DetectionFenetre2.png<br />
<img src="./images/64x32_garageOff.png" alt="64x32_garageOff.png" >64x32_garageOff.png<br />
<img src="./images/64x32_garageOn.png" alt="64x32_garageOn.png" >64x32_garageOn.png<br />
<img src="./images/64x64_maison.png" alt="64x64_maison.png" >64x64_maison.png<br />
<img src="./images/64x64_maisonEtage.png" alt="64x64_maisonEtage.png" >64x64_maisonEtage.png<br />
<img src="./images/64x64_maisonRDC.png" alt="64x64_maisonRDC.png" >64x64_maisonRDC.png<br />
<img src="./images/64x64_maisonSousSol.png" alt="64x64_maisonSousSol.png" >64x64_maisonSousSol.png<br />


</td></tr>
</table>

blinds :
<img src="./images/var/blinds/0.png" alt="0.png" >0.png
<img src="./images/var/blinds/1.png" alt="1.png" >1.png
<img src="./images/var/blinds/2.png" alt="2.png" >2.png
<img src="./images/var/blinds/3.png" alt="3.png" >3.png
<img src="./images/var/blinds/4.png" alt="4.png" >4.png
<img src="./images/var/blinds/5.png" alt="5.png" >5.png
<img src="./images/var/blinds/6.png" alt="6.png" >6.png
<img src="./images/var/blinds/7.png" alt="7.png" >7.png
<img src="./images/var/blinds/8.png" alt="8.png" >8.png
<img src="./images/var/blinds/9.png" alt="9.png" >9.png
<img src="./images/var/blinds/10.png" alt="10.png" >10.png
<br />
light :
<img src="./images/var/light/0.png" alt="0.png" >0.png
<img src="./images/var/light/1.png" alt="1.png" >1.png
<img src="./images/var/light/2.png" alt="2.png" >2.png
<img src="./images/var/light/3.png" alt="3.png" >3.png
<img src="./images/var/light/4.png" alt="4.png" >4.png
<img src="./images/var/light/5.png" alt="5.png" >5.png
<img src="./images/var/light/6.png" alt="6.png" >6.png
<img src="./images/var/light/7.png" alt="7.png" >7.png
<img src="./images/var/light/8.png" alt="8.png" >8.png
<img src="./images/var/light/9.png" alt="9.png" >9.png
<img src="./images/var/light/10.png" alt="10.png" >10.png



  </body>
</html>
